.banner-home {
  position: relative;
  overflow: hidden;
}

.banner-home-div {
  padding-top: 80.25%;
}

.banner-content {
  position: absolute;
  width: 100%;
  max-width: 30em;
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}


@media only screen and (min-width: 38em) {
  .banner-home-div {
    padding-top: 56.25%;
  }
}
