html {
  background-color: none;
}

nav a {
  color: var(--color-secondary);
}

nav a:hover {
  color: var(--color-primary);
}

.nav li {
  position: relative;
}

.logo-position {
  text-align: center;
}

header {
  background-color: var(--color-primary-light);
}

.logo {
  width: 192px;
}

@media only screen and (min-width: 38em) {

 nav {
  text-align: center;
  }

}

@media only screen and (min-width: 60em) {



}
