:root {
  --color-primary: #cc9ab6;
  --color-secondary: #333;
  --color-primary-light: #e5e5e5;
  --color-grey: #B0B0B0;
  --font-primary: "Roboto", "Lato", arial, sans-serif;
}

html {
  font-family: var(--font-primary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

mark {
  background-color: var(--color-primary-light);
}

h2 {
  color: var(--color-primary);
}

h4 {
  color: var(--color-primary);
}

h5 {
  color: var(--color-grey);
}

h6 {
  color: var(--color-primary);
}
